@import url("http://fonts.googleapis.com/css?family=Lato:700");
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

body
{
	padding-top: 32px;
}
#barra-nodal
{
	background-color: #111111;
	border: 0 none;
	height: 32px;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 99999;
	-webkit-font-smoothing: antialiased;
}

#barra-nodal #logo-nodal {
	height: 32px;
	margin-left: 18px;
	width: 32px;
	float: left;
}
#barra-nodal #logo-nodal a
{
	background-image: url('images/logo.png');
	height: 45px;
	margin-left: 30px;
	top: 6px;

}
#barra-nodal #logo-nodal a, #logo-nodal #logo-wrapper
{
	display: inline-block;
	position: relative;
}
#barra-nodal #logo-nodal a#laneros {
	background-position: left -22px;
	height: 22px;
	width: 95px;
}
#barra-nodal #logo-nodal a#laneros:hover {
	background-position: left top; 
}
#barra-nodal #logo-nodal a#gadgeteros {
	background-position: left 20px;
	height: 20px;
	top: 7px;
	width: 130px;
}
#barra-nodal #logo-nodal a#gadgeteros:hover {
	background-position: left 40px; 
}
#barra-nodal #logo-nodal a#hwcol {
	background-position: left 62px;
	height: 22px;
	width: 88px;
}
#barra-nodal #logo-nodal a#hwcol:hover {
	background-position: left 84px; 
}
#barra-nodal #logo-nodal a span
{
	display: none;
}
#barra-nodal #logo-nodal > div
{
	margin: 0 auto;
	padding: 0 20px 0 20px;
	white-space: nowrap;
}
#barra-nodal #logo-nodal #logo-wrapper
{
	background-color: #036bac;
	background-image: none;
	bottom: 0;
	display: inline-block;
	height: 18px;
	margin: auto;
	position: absolute;
	top: 0;
	width: 18px;
}
#barra-nodal #logo-nodal #logo-wrapper div
{
	-moz-transition: bottom 0.1s, left 0.1s, right 0.1s, top 0.1s;
	-ms-transition: bottom 0.1s, left 0.1s, right 0.1s, top 0.1s;
	-o-transition: bottom 0.1s, left 0.1s, right 0.1s, top 0.1s;
	-webkit-transition: bottom 0.1s, left 0.1s, right 0.1s, top 0.1s;
	border-radius: 10%;
	display: inline-block;
	height: 50%;
	position: absolute;
	transition: bottom 0.1s, left 0.1s, right 0.1s, top 0.1s;
	width: 50%;
}
#barra-nodal #logo-nodal #logo-wrapper #amarillo
{
	background-color: #d6db2c;
	left: -20%;
	top: -20%;

}
#barra-nodal #logo-nodal #logo-wrapper:hover #amarillo
{
	left: -5%;
	top: -5%;
}
#barra-nodal #logo-nodal #logo-wrapper #naranja
{
	background-color: #ff8d03;
	right: -20%;
	top: -20%;
}
#barra-nodal #logo-nodal #logo-wrapper:hover #naranja
{
	right: -5%;
	top: -5%;
}
#barra-nodal #logo-nodal #logo-wrapper #azul
{
	background-color: #2b2d83;
	bottom: -20%;
	left: -20%;
}
#barra-nodal #logo-nodal #logo-wrapper:hover #azul
{
	bottom: -5%;
	left: -5%;
}
#barra-nodal #logo-nodal #logo-wrapper #rojo
{
	background-color: #bd1621;
	bottom: -20%;
	right: -20%;
}
#barra-nodal #logo-nodal #logo-wrapper:hover #rojo
{
	bottom: -5%;
	right: -5%;
}

#barra-nodal .social-nodal
{
	float: right;
}

#barra-nodal .social-nodal .fa
{
	margin-right: 5px;
}

#barra-nodal > ul {
	margin-top: 0.6em;
	padding: 0;
}

#barra-nodal > ul li
{
	float: left;
	list-style: none;
	font-weight: 700;
	margin-bottom: 100%;
	text-transform: uppercase;
}

#barra-nodal > ul li a
{
	padding: 10px 15px;
}

#barra-nodal > ul li a:link, #barra-nodal > ul li a:visited, #barra-nodal > ul li a:active
{
	color: #777777;
	text-decoration: none;
}

#barra-nodal > ul li a:hover, #barra-nodal > ul li a:focus
{
	color: white;
}

@media (max-width:1000px) {
	#barra-nodal .social-nodal span
	{
		display: none;
	}
}

@media (max-width: 750px) {
	#barra-nodal > ul li a
	{
		font-size: 12px;
		padding: 10px 5px;
	}
}

@media (max-width: 520px) {
	#barra-nodal > ul.links-nodal
	{
		display: none;
	}

	#barra-nodal .social-nodal span
	{
		display: inline-block;
	}
}